<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <settings>
      <setting name="JavaScriptServices.ViewEngine.Http.JssEditingSecret">
        <patch:attribute name="value">
          0XIzH6OeZN3stOklayiKYjVwjVhmJBUjYzQghahc0sDpHeZ64a3OtfhZrzu9fu9y
        </patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>
